* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  min-height: 100vh;

  grid-template-rows: 60px 60px 1fr 180px 1fr 60px;
  grid-template-columns: 200px 1fr 200px;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "left main right"
    "article article article"
    "section section rechtspan";
}
header {
  background: red;
  grid-area: header;
  text-align: center;
  font-size: xx-large;
}
nav {
  background: green;
  grid-area: nav;
}
main {
  background: blue;
  grid-area: main;
}
aside {
  background: yellow;
}
aside .left {
  grid-area: left;
}
aside .right {
  grid-area: right;
}
article {
  background: slategray;
  grid-area: article;
  display: flex;
}
section {
  background: orange;
  grid-area: section;
}
span {
  background: rgb(202, 104, 104);
}
span .rechtspan {
  grid-area: rechtspan;
}
.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 250px 250px 250px 250px 250px;
  grid-template-areas: "div div div div div";
}
.container div {
  background: black;
  grid-area: div;
}
div {
  color: beige;
}
